 * {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
 }
 .openChatBtn {
    background-color: rgb(255, 154, 72);
    color: white;
    border-radius: 5px;
    padding: 16px 20px;
    border: none;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    align-items: center;
    justify-content: center;
 }
 .openChat {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
 }
 form {
    max-width: 300px;
    padding: 10px;
    background-color: #eee2c3;
      border-radius: 10px;
 }
 form textarea {
    width: 100%;
    font-size: 18px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    font-weight: 500;
    background: #ffffff;
    color: rgb(0, 0, 0);
    resize: none;
    min-height: 200px;
 }
 form textarea:focus {
    background-color: rgb(255, 255, 255);
    outline: none;
 }
 form .btn {
    background-color: rgb(30, 54, 41);
    color: white;
    padding: 16px 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
 }
 form .close {
    background-color: rgb(77, 34, 34);
 }
 form .btn:hover, .openChatBtn:hover {
    opacity: 1;
 }

 .chat-icon{
    width: 50px;
 }