

#ny-login-right{
    float: right;
    width: 320px;
    padding: 25px 25px 31px 25px;
    background-color: #f5f5f5;
    border-radius: 0px 3px 3px 0px;
}

#ny-rest-form {
    display: flex;
    flex-direction: row;
    background-color: #f5f5f5;
    width: 542px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    border: 1px solid #0003;
    border-radius: 3px 3px 3px 3px;
    -moz-box-shadow: 0px 6px 10px -6px #0003;
    -webkit-box-shadow: 0px 6px 10px -6px #0003;
    box-shadow: 0px 6px 10px -6px #0003;
    overflow: hidden;
    position: relative;
}

body{
    font-family: 'Lato', sans-serif;
}

.um .um-form input[type=text], .um .um-form input[type=tel], .um .um-form input[type=password], .um .um-form textarea {
    color: #666666;
}

.um .um-form input[type=text], .um .um-form input[type=tel], .um .um-form input[type=number], .um .um-form input[type=password], .um .um-form textarea, .select2-container .select2-choice, .select2-container-multi .select2-choices {
    background-color: #ffffff;
}

.um .um-form input[type=text], .um .um-form input[type=tel], .um .um-form input[type=number], .um .um-form input[type=password], .um .um-form textarea, .um .upload-progress, .select2-container .select2-choice, .select2-drop, .select2-container-multi .select2-choices, .select2-drop-active, .select2-drop.select2-drop-above {
    border: 2px solid #ddd !important;
}

.um .um-form input[type=text], .um .um-form input[type=tel], .um .um-form input[type=password], .um .um-form textarea {
    color: #666666;
}

.um .um-form input[type=text], .um .um-form input[type=tel], .um .um-form input[type=number], .um .um-form input[type=password], .um .um-form textarea, .select2-container .select2-choice, .select2-container-multi .select2-choices {
    background-color: #ffffff;
}

.um .um-form input[type=text], .um .um-form input[type=tel], .um .um-form input[type=number], .um .um-form input[type=password], .um .um-form textarea, .um .upload-progress, .select2-container .select2-choice, .select2-drop, .select2-container-multi .select2-choices, .select2-drop-active, .select2-drop.select2-drop-above {
    border: 2px solid #ddd !important;
}

.um-form input[type=text], .um-form input[type=tel], .um-form input[type=number], .um-form input[type=password] {
    padding: 0 12px !important;
    width: 100%;
    display: block !important;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    outline: none !important;
    cursor: text !important;
    font-size: 15px !important;
    height: 40px !important;
    box-sizing: border-box !important;
    box-shadow: none !important;
    margin: 0 !important;
    position: static;
    outline: none !important;
}

.um input, .um select, .um textarea {
    font-size: 15px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
    transition: border linear 0.2s,box-shadow linear 0.2s;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 2.65em;
    margin-bottom: 9px;
    border: 1px solid #ddd;
    padding: 0 0.65em;
    font-size: 13px;
    line-height: normal;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
}

.um * {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}
.um *, .um *:before, .um *:after {
    box-sizing: content-box;
}
body, input, button, select, textarea {
    font-family: "Lato",sans-serif;
}
.p-landmark-sub, .p-meta, input, button, select, textarea {
    font-family: Lato;
}
input, textarea {
    width: auto;
}
input, button, select, textarea {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
label, input, button, select, textarea {
    font-size: 100%;
    line-height: 1.7;
}
button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


input[type="text" i] {
    padding: 1px 2px;
}


input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.um-field-area {
    position: relative;
    word-wrap: break-word;
}
.um {
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    color: #666;
    font-size: 15px;
    margin-bottom: 30px !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    opacity: 0;
}
.entry-header, .entry-content {
    font-size: 14px;
}
body {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #999999;
    background-color: #f3f3f3;
}
body {
    margin: 0;
    overflow-x: hidden;
    line-height: 1.7;
}
html {
    overflow-x: hidden;
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.um *, .um *:before, .um *:after {
    box-sizing: content-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.um *, .um *:before, .um *:after {
    box-sizing: content-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hovno{
    background-color: white;
    border: 1px solid #0003;
    border-radius: 3px 3px 3px 3px;
}

.register-button{
border: none;
background-color: #16639f !important;
color: white;
padding: 10px;
    font-size: 15px;
    cursor: pointer ;
    width: 100%;
    box-shadow: none;
    text-shadow: none;
    font-family: inherit;
    outline: none !important;
    margin: 0;
} 


